@{
    ViewData["Title"] = "Add A New Movie";
}

<h2>Add A New Movie</h2>

<form method="POST">
    <div>
        <label for="title">Title</label>
        <input name="title" id="title" type="text">
    </div>
    <div>
        <label for="release">Release Date</label>
        <input name="release" id="release" type="text">
    </div>
    <div>
        <label for="genre">Genre</label>
        <input name="genre" id="genre" type="text">
    </div>
    <div>
        <label for="price">Price</label>
        <input name="price" id="price" type="text">
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>